language: ruby
cache:
  directories:
    - bundle

rvm:
  - 2.0
  - 2.1.3
  - 2.3.1

bundler_args: "--without documentation --path bundle"

before_install:
  - git fetch --depth=1000000
  - gem install bundler

after_install:
  - rake install

deploy:
  - provider: script
  - script: .deploy.sh
  on:
    branch: master

scripts:
  - echo 'deploy'
