$('h1').text('Got it!');
$('p#got-it').text('Готово! Скоро придет письмо с приглашением. Жду фидбек :) и подписывайтесь на меня в твитере ');
$('p#got-it').append('<a href="https://twitter.com/m4rr">@m4rr</a>');
$('form').hide('fast');
// $('.likely-wrapper').show('fast');
