<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>IT-Эмиграция</h2>
      <p>У вашего резюме есть 6 секунд, чтобы HR изучает резюме примерно 6 секунд.<br />
        Мы можем помочь вам с безупречным английским,<br />
        И потренируем в техническом собеседовании.</p>
      <ul class="actions">
        <li><a href="#" class="button special">Всего за 99 $</a></li>
      </ul>
    </div>
    <a href="#one" class="more scrolly">Что мы умеем</a>
  </section>

<!-- One -->
  <section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>Безупречный английский в резюме</h2>
        <!-- на ваш выбор, в вашем резюме</h2> -->
        <p>Никто не напишет резюме за вас.<br />
        Опишите себя, ваши достижения, опыт работы, образование; оставьте контакты.<br />
        Отправьте нам, мы внимательно прочтем, и грамотно перепишем тексты.<br />
        После этого назначим техническое собеседование на осннове указанных навыков.
        </p>

      </header>
      <ul class="icons major">
        <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
        <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
        <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
      </ul>
    </div>
  </section>

<!-- Two -->
<!--
  <section id="two" class="wrapper alt style2">
    <section class="spotlight">
      <div class="image"><%= image_tag 'relocated/pic01.jpg', alt: 'alrrrt' %></div><div class="content">
        <h2>Magna primis lobortis<br />
        sed ullamcorper</h2>
        <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image"><%= image_tag 'relocated/pic02.jpg', alt: 'alrrrt' %></div><div class="content">
        <h2>Tortor dolore feugiat<br />
        elementum magna</h2>
        <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image"><%= image_tag 'relocated/pic03.jpg', alt: 'alrrrt' %></div><div class="content">
        <h2>Augue eleifend aliquet<br />
        sed condimentum</h2>
        <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
      </div>
    </section>
  </section>
 -->

<!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Наша экспертиза и наши эсперты</h2>
        <p>С английским вам поможет выпускница London School of Economics and Social Science.<br />
        Бекенд и фронтенд — ведущий разработчик ABBYY и выпускник Мальтийского ордена английского языка.<br />
        Мобильные технологии — преподаватель Moscow Coding School.</p>
      </header>
      <ul class="features">
        <li class="icon fa-paper-plane-o">
          <h3>У вас есть 6 секунд</h3>
          <p>Рекрутеры изучают резюме примерно 6 секунд. Если закралась ошибка — отказ. <a href="http://info.theladders.com/inside-theladders/you-only-get-6-seconds-of-fame-make-it-count">Изучите исследование.</a></p>
        </li>
        <li class="icon fa-laptop">
          <h3>Актуальные технологии</h3>
          <p>iOS SDK, Swift & Objective-C, .Net, JavaScript, Angular, Ruby on Rails.</p>
        </li>
        <li class="icon fa-code">
          <h3>Актуальные знания</h3>
          <p>К собеседованию нужны: теория и практика, алгоритмы и структуры данных. Потренеруйтесь со специалистами.</p>
        </li>
        <li class="icon fa-headphones">
          <h3>Устное собеседование</h3>
          <p>Не стесняйтесь вашего языка. Потренеруйтесь и подготовьтесь с нами.</p>
        </li>
        <li class="icon fa-heart-o">
          <h3>Помощь и поддержка</h3>
          <p>Мы рааскажем вам тонкости иммиграционного законодательства Великобритании, Нидерландов, Германии, Канады и других.</p>
        </li>
        <li class="icon fa-flag-o">
          <h3>Slack</h3>
          <p>При подготовке вы получите доступ к Slack с другими участниками.</p>
        </li>
      </ul>
    </div>
  </section>

<!-- CTA -->
  <section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>Резюме и собеседование</h2>
        <p>Получите безупречное резюме. Проверьте ваши знания. Подготовьтесь к беседе. Всего за 99 $.</p>
      </header>
      <ul class="actions vertical">
        <li><a href="#" class="button fit special">ДА!!1</a></li>
        <li><a href="#" class="button fit">Learn More</a></li>
      </ul>
    </div>
  </section>
