html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body {
  font-family: HelveticaNeue, Helvetica, Arial, Tahoma, sans-serif;
  background: #fff;
  font-size: 62.5%;
  line-height: 1;
  padding-top: 100px;
}

br { display: block; line-height: 1.6em; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  outline: none;
}

strong, b { font-weight: bold; }
em, i { font-style: italic; }

h1 {
  display: block;
  font-size: 4em;
  line-height: 1.45em;
  // text-align: center;
  font-weight: bold;
  margin: 10px 0;
  color: #555;
  // text-shadow: 1px 1px 0 #fff;
}

p {
  font-size: 15px;
}




#content {

  margin: 0 auto;
  padding: 30px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 20px 0px rgba(50, 50, 50, 0.75);

  max-width: 500px;
  // height: 500px;

  .wrapper {
    // width: 70%;
  }

  .nifty_form {
      // width: 100%;

    input[type=text], textarea {


      font-size: 16px;
      // margin: 0 0 10px 0;
      padding: 6px;

      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      // padding: 3px 0px 3px 3px;
      // margin: 5px 1px 3px 0px;
      border: 1px solid #DDDDDD;
    }

    input[type=text]:focus, textarea:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      // padding: 3px 0px 3px 3px;
      // margin: 5px 1px 3px 0px;
      border: 1px solid rgba(81, 203, 238, 1);
    }

    .field {
      font-size: 15px;
      margin-top: 10px;
    }


  }
}




@media only screen
    and (min-device-width : 375px) // or 213.4375em
    and (max-device-width : 667px) // or 41.6875em
    and (width : 375px) // or 23.4375em
    and (height : 559px) // or 34.9375em
    and (orientation : portrait)
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2) {

      body {
          padding-top: 0px;
      }

      #content {
        width: 100%;

        -webkit-box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0 0 0 0 rgba(50, 50, 50, 0.75);
        box-shadow:         0 0 0 0 rgba(50, 50, 50, 0.75);

      }
    }
