@import 'reset';

$font-stack: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$margin: 20px 30px 15px 30px;

$color: #000;
$dimmed-color: #999;
$link: #7b68ee; // Умеренный аспидно-синий
$hover: #ff6800; // Яркий оранжевый

* {
  -webkit-font-smoothing: subpixel-antialiased;
}

html, body, {
  box-shadow: none;
  color: $color;
  font: 15px/150% $font-stack;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;

  min-width: 850px;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
}

.container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  -webkit-flex: 2;
          flex: 2;

  * {
    text-align: center;
    padding-bottom: 20px;
    line-height: 150%;
  }

  h1 {
    font-size: 100px;
    font-weight: 100;
  }

  h2 {
    font-size: 40px;
    font-weight: 200;
  }

  h3 {
    font-size: 25px;
    font-weight: 300;
  }

  img.appstore {
    height: 60px;
  }

  height: 100%;

  z-index: 100;
  position: relative;

          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

          box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);

  background-color: rgba(255, 255, 255, 1);
}

.slideshow {
  position: relative;
  overflow: hidden;

  height: 70%;
  width: 100%;

  -webkit-flex: 3;
          flex: 3;
}

.images {
  background-image: image-url('stars/all@2x.jpg');
  background-size: contain;
  background-repeat: repeat-x;

  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 300%;
  animation: slideshow 20s linear infinite;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}
