// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'reset';
/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,bold&subset=latin,cyrillic);*/

$font-stack: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; // 'PT Sans Caption', 

$bg-color: #fdfdfd; // #159588;
$fg-color: #666;
$default-margin: 15px 30px;

html, body, {
  box-shadow: none;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 140%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

.container {
  display: -webkit-flex;
  display: flex;
  /*overflow-y: hidden;*/
  height: 100%;
  width: 100%;
}

nav {
  -webkit-flex: 1;
          flex: 1;
  min-width: 300px;

  border: 0 solid #eee;
  border-width: 0 0 0 1px;

  position: relative;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.map {
  -webkit-flex: 2;
          flex: 2;
/*  width: 66%;
  height: 100%;
*/
}

p {
  /*margin: 8px 15px;*/
  margin: $default-margin;
  /*text-align: center;*/
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: $default-margin;
  margin-top: 30px;
  text-align: center;
}

h3 {
  font-size: 12px;
  /*font-weight: bold;*/
  letter-spacing: .2em;
  margin: $default-margin;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}

.to-left {
  display: inline-block;
  float: left;
  text-align: left;
}

.to-center {
  text-align: center;
}

.to-right {
  display: inline-block;
  float: right;
}

.stars {
  color: gold;
}

.eof {
  margin: 15px;
  text-align: center;
}

.eof a {
  text-decoration: none;
}

.icon {
  display: inline;
  fill: #ccc;
  /*opacity: .9;*/
}

.icon:hover {
  fill: #ff2d55;
  /*opacity: .7;*/
}


.likely-wrapper {
  padding: 10px 0;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
  width: 100%;

  div {
    margin: 0 3px 6px 3px !important;
  }
}




a, a:visited {
  color: #5856d6;
  text-decoration: none;
}

a:hover {
  color: #ff2d55;
  text-decoration: underline;
}

.gm-style-iw {
  overflow: visible !important;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .container {
  -webkit-flex: none;
          flex: none;
  }
  .map {
    width: 100%;
    height: 40%;
  -webkit-flex: none;
          flex: none;
  }
  nav {
    /*display: none;*/
    left: 0;
    position: absolute;
    top: 40%;
    /*width: 100%;*/
    min-height: 100%;
  -webkit-flex: none;
          flex: none;
  }
}


/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 

}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 

}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 

}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 

}

/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){ 
}

/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 

}

/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){ 

}

