// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'reset';

$font-stack: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$margin: 20px 30px 15px 30px;

$color: #666;
$dimmed-color: #999;
$link: #7b68ee; // Умеренный аспидно-синий
$hover: #ff6800; // Яркий оранжевый

* {-webkit-font-smoothing:subpixel-antialiased;}

html, body, {
  box-shadow: none;
  color: $color;
  font-family: $font-stack;
  font-size: 15px;
  line-height: 150%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
}

nav {
  max-width: 450px;
  min-width: 320px;

  padding-bottom: 15px;

  overflow: auto;

  position: relative;
  -webkit-flex: 2;
          flex: 2;

          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.1);

          z-index: 100;
}

.map {
  -webkit-flex: 3;
          flex: 3;
}

.gm-style {
  bottom: -30px;
  height: auto !important;
}

h1 {
  font-size: 26px;
  margin: $margin;
  margin-top: 30px;
}

h2 {
  margin: $margin;
}

space {
  display: block;
  margin: 40px;
}

strong, b {
  font-weight: bold;
}

strong {
  color: $color;
  font-weight: bold;
}

p {
  color: $dimmed-color;
  margin: $margin;
  margin-top: 0;

  &.app {
    margin-bottom: 10px;

    strong {
      a {
        color: inherit;

        &:hover, &.hover { /* birman hover, used via js */
          color: $hover;
          text-decoration: none;
        }
      }
    }
  }
}

ul {
  margin: $margin;
  margin-top: 0;
  // margin-bottom: 0;

  li {
    margin-left: 20px;
    padding: 5px 0 0 0;
    list-style-type: none;
    color: $dimmed-color;

    &:before {
      content: '\2022'; /* Unicode bullet symbol */
      margin-left: -13px;
      padding-right: 0.5em;
    }
  }
}

.stars {
  color: gold;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 0.2em;
  position: relative;
  top: -1px;

  // .not-gold { /* a.k.a. silver */
  //   color: white;
  //   -webkit-text-stroke: 1px #eee;
  // }
}

.nbsp {
  white-space: nowrap;
}

span.now {
  $now-color: lighten($hover, 20%);
  color: $now-color;
  border: 1px solid $now-color;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 0 9px;
  padding: 2px 2px 2px 5px;
  height: 20px;

  position: relative;
  top: -2px;

  font-size: 9px;
  font-weight: bold;
  letter-spacing: .2em;
  text-transform: uppercase;
}

i.icon-paper-plane {
  font-size: 12px;
}

.eof { /* social icon-links */
  font-size: 18px;
  margin: $margin;
  margin-bottom: 5px;
  word-spacing: 0;

  a {
    color: #bbb;
    padding: 5px 11px 5px 0;
  }
}


/* global `a` config */
a {
  color: $link;
  text-decoration: none;

  &:hover, .hover { /* birman hover */
    color: $hover; // ff2d55
  }

  &.appstore {
    display: inline-block;

    border-radius: 12px;
    padding: 0px 9px 2px 9px;
    margin-left: -9px;

    &.hover { /* birman hover */
      color: $hover;
    }

    &:hover {
      background-color: $hover;
      color: white;

      -webkit-background-clip: padding-box; /* for Safari */
              background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
  }

}


@media (max-width: 500px) {
  .container {
    -webkit-flex: none;
            flex: none;
  }
  .map {
    width: 100%;
    height: 40%;
    -webkit-flex: none;
            flex: none;
  }
  nav {
    position: absolute;
    left: 0;
    top: 40%;

    max-width: none;
    min-height: 100%;

    -webkit-flex: none;
            flex: none;
  }
}







/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
   @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
        @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
     -moz-animation: fadeIn ease-out 1;
          animation: fadeIn ease-out 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  -webkit-animation-duration: 0.7s;
     -moz-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
     -moz-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 1.0s;
     -moz-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.fade-in.three {
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
          animation-delay: 1.5s;
}









// Map

.cluster {
  font: bold 14px/30px $font-stack;
  position: relative; z-index: 10; color:#fff; background: image-url('marker_cluster.svg') no-repeat 50%; background-size: cover; text-align: center;
}

.cluster1 { width:30px; height:30px; }
.cluster2 { width:35px; height:35px; font-size:15px; line-height:35px; }
.cluster3 { width:40px; height:40px; font-size:16px; line-height:40px; }

.tooltip {
  font: 13px $font-stack;
  position: relative; z-index: 1; width: 160px; color: #333; text-align: center; opacity: 0; transform: translate(0, -20px); transition: .3s;
}

.tooltip.show { transform:translate(0, 0); opacity:1; }
.tooltip div  { position:absolute; left:0; right:0; bottom:0; }
.tooltip span { position:relative; display:inline-block; padding:5px 10px; border-radius:4px; background:rgba(255,255,255,1.0); box-shadow:0 0 3px rgba(0,0,0,.3); }
.tooltip span:before { content:''; position:absolute; left:50%; top:100%; margin:0 -6px; border:6px solid transparent; border-top-color:rgba(0,0,0,.1); }
.tooltip span:after { content:''; position:absolute; left:50%; top:100%; margin:0 -5px; border:5px solid transparent; border-top-color:rgba(255,255,255,.9); }













/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
}

/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){
}

/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){
}

/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){
}
