// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'reset';
/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,bold&subset=latin,cyrillic);*/

$font-stack: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; // 'PT Sans Caption',

$bg-color: #fdfdfd; // #159588;
$fg-color: #666;
$default-margin: 15px 30px;
$link: #4D92E0;

* {-webkit-font-smoothing:subpixel-antialiased;}

html, body, {
  box-shadow: none;
  color: #666;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 140%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
  /*overflow-y: hidden;*/
  height: 100%;
  width: 100%;
}

nav {
  border: 0 solid #eee;
  border-width: 0 0 0 1px;

  max-width: 410px;
  min-width: 300px;

  position: relative;
  -webkit-flex: 1;
          flex: 1;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.map {
  -webkit-flex: 2;
          flex: 2;
}

.gm-style {
  bottom: -30px;
  height: auto !important;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: $default-margin;
  margin-top: 30px;
  text-align: center;
}

h2 {
  margin: $default-margin;
  text-align: center;
}

h3 {
  font-size: 12px;
  /*font-weight: bold;*/
  letter-spacing: .2em;
  margin: $default-margin;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #999;
  /*margin: 8px 15px;*/
  margin: $default-margin;
  /*text-align: center;*/
}

p.app {
  margin-bottom: 25px;
}

strong {
  color: #666;
  font-weight: bold;
}

.to-left {
  display: inline-block;
  float: left;
  text-align: left;
}

.to-center {
  text-align: center;
}

.to-right {
  display: inline-block;
  float: right;
}

.stars {
  color: gold;
}

.eof {
  /*margin: 25px 15px;*/
  text-align: center;
  word-spacing: 0;
  a, a:visited {
    padding: 5px;
    color: #ccc;
    text-decoration: none;
  }
  a:hover {
    /*color: #666;*/
    color: $link;
  }
}

/*
.icon {
  display: inline;
  fill: #ccc;
}

.icon:hover {
  fill: #ff2d55;
}
*/

.likely-wrapper {
  padding: 10px 0;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
  width: 100%;

background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

  div {
    margin: 0 3px 6px 3px !important;
  }
}



a, a:visited {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: #ff2d55;
  text-decoration: underline;
}

.gm-style-iw {
  overflow: visible !important;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .container {
  -webkit-flex: none;
          flex: none;
  }
  .map {
    width: 100%;
    height: 40%;
    -webkit-flex: none;
            flex: none;
  }
  nav {
    position: absolute;
    left: 0;
    top: 40%;

    max-width: none;
    min-height: 100%;

    -webkit-flex: none;
            flex: none;
  }
}





/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
     -moz-animation: fadeIn ease-out 1;
          animation: fadeIn ease-out 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  -webkit-animation-duration: 0.7s;
     -moz-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
     -moz-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 1.0s;
     -moz-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.fade-in.three {
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
          animation-delay: 1.5s;
}





/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {

}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

}

/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){
}

/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){

}

/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){

}
