<!doctype html>
<html lang="en">
<head>
  <title>Mauth beta</title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag    'mauth', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'mauth', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>

</body>
</html>
