<!doctype html>
<html lang="en">
<head>
  <title>Mauth beta</title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag :mauth, media: 'all' %>
  <%= javascript_include_tag :mauth %>

  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>

</body>
</html>
