<!DOCTYPE HTML>
<!--
  Spectral by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>IT-эмиграция</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'relocated', media: 'all' %>
    <%= javascript_include_tag 'relocated' %>
    <!-- < % = csrf_meta_tags % > -->
  </head>
  <body class="landing">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">Spectral</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="generic.html">Generic</a></li>
                      <li><a href="elements.html">Elements</a></li>
                      <li><a href="#">Sign Up</a></li>
                      <li><a href="#">Log In</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

          <%= yield %>


        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li><a href="#">Оферта</a></li>
              <li><a href="#">Правила оплаты</a></li>
              <li><a href="#">howto@relocate.ru</a></li>
            </ul>
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
              <li>&copy; Relocated, 2016</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </footer>

      </div>
  </body>
</html>
