<!DOCTYPE html>
<html>
<head>
  <title>Rating Stars: 5 out of 5</title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag :stars, media: 'all' %>
  <%= javascript_include_tag :stars %>
</head>
<body>
  <%= yield %>
</body>
</html>
